@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@import "./nes.min.css";

html {
  height: 100%;
  background: #e1ebf2;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
