.root {
  padding: 1px;
  user-select: none;
}

.text {
  margin: 0;
  margin-bottom: 24px;
}

.light {
  color: #fff;
}

.dark {
  color: #222;
}

.logo {
  height: 80px;
  animation: rotating 2s linear infinite;
}
