@mixin step1($width, $color) {
  box-shadow: $width 0 $color, -$width 0 $color, 0 (-$width) $color,
    0 $width $color;
  margin: $width auto;
}
@mixin step3($width, $color, $bgcolor) {
  box-shadow: $width 0 $bgcolor, -$width 0 $bgcolor, 0 (-$width) $bgcolor,
    0 $width $bgcolor, 2 * $width 0 $bgcolor, -2 * $width 0 $bgcolor,
    0 (-2 * $width) $bgcolor, 0 2 * $width $bgcolor, 0 0 0 $width $bgcolor,
    3 * $width 0 $color, -3 * $width 0 $color, 0 3 * $width $color,
    0 (-3 * $width) $color, 0 (-$width) 0 $width $color,
    0 $width 0 $width $color, $width 0 0 $width $color,
    -$width 0 0 $width $color;
  margin: 3 * $width auto;
}
@mixin other($width, $color, $bgcolor) {
  box-shadow: 4 * $width 0 $bgcolor, -4 * $width 0 $bgcolor,
    0 (-4 * $width) $bgcolor, 0 4 * $width $bgcolor,
    $width 0 0 2 * $width $bgcolor, -$width 0 0 2 * $width $bgcolor,
    0 (-$width) 0 2 * $width $bgcolor, 0 $width 0 2 * $width $bgcolor,
    5 * $width 0 $color, -5 * $width 0 $color, 0 (-5 * $width) $color,
    0 5 * $width $color, 0 0 0 3 * $width $color,
    0 2 * $width 0 2 * $width $color, 0 (-2 * $width) 0 2 * $width $color,
    2 * $width 0 0 2 * $width $color, (-2 * $width) 0 0 2 * $width $color;
  margin: 5 * $width auto;
}
