@import "../styles/mixins.scss";

$bgColor: #dc082c;
$shadow: #89051b;
$blue-light: #27aafd;
$blue-light-reflection: #a1dafe;
$page-width: 335px;
$page-height: 505px;
$hinger-width: 36px;
$shadow-width: 8px;

@mixin hinger {
  position: relative;
  width: 100%;
  background: $bgColor;
  @include step1(4px, #89051b);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    height: 100%;
    border-right: 5px solid #deb3ba;
    box-shadow: #dc435b 6px 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0%;
    height: 100%;
    border-right: 5px solid #89051b;
  }
}

.container {
  @include row-center;
}

.pokedex {
  position: relative;
  display: flex;
}

.page {
  width: $page-width;
  height: $page-height;
}

.leftPage {
  @extend .page;
  margin: 0 !important;
  padding: 0 !important;
  background: $bgColor;
  @include other(2px, $bgColor, $bgColor);

  > .header {
    display: flex;
    flex-direction: row;
    height: 20%;
    position: relative;

    > .left {
      width: 55%;
      height: 100%;
      position: relative;

      > .mainLight {
        @include other(5px, #dedede, $blue-light);
        cursor: pointer;
        background: $blue-light;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 5%;
        left: 20%;
        z-index: 2;

        > .reflection {
          @include other(2px, $blue-light-reflection, $blue-light-reflection);
          background: $blue-light-reflection;
          width: 8px;
          height: 8px;
          position: absolute;
          top: -40%;
          left: 0%;
        }
      }

      > .border1 {
        color: $shadow;
        position: absolute;
        bottom: -5%;
        left: -5%;
        width: 65%;
        height: 0px;
        border-bottom: $shadow-width solid $shadow;
      }
      > .border2 {
        color: $shadow;
        position: absolute;
        bottom: 27%;
        right: -8%;
        width: 100px;
        height: 0px;
        border-bottom: $shadow-width solid $shadow;
        transform: rotate(-38deg);
      }
    }
  }
}

.hingerContainer {
  z-index: 5;
  position: absolute;
  top: 9%;
  width: $hinger-width;
  height: 88%;
  left: $page-width;

  > .miniHinger {
    @include hinger;
    height: 5%;
  }

  > .mainHinger {
    @include hinger;
    height: 90%;
  }
}

.rightPage {
  @extend .page;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  padding-top: calc(64px + 3%);

  > .trapezoid {
    position: absolute;
    top: 9%;
    border-bottom: 64px solid $bgColor;
    border-right: 50px solid transparent;
    height: 0;
    width: 64%;
  }

  > .cutPage {
    flex: 1;
    background: $bgColor;
    width: 100%;
    @include other(2px, $bgColor, $bgColor);
  }
}
.statusBar {
  position: absolute;
  left: 106px;
  top: 8px;
  width: 80px;
  display: flex;
  flex-direction: row;

  @mixin led($color) {
    @include step3(2px, $color, $color);
    position: relative;
    background: $color;
    width: 7px;
    height: 7px;

    &:before {
      position: absolute;
      top: -36%;
      left: 8%;
      background: #ffffff;
      content: "";
      width: 1px;
      height: 1px;
      @include step3(1px, #ffffff, #ffffff);
    }
  }

  > .redled {
    @include led(#ff4663);
  }
  > .yellowled {
    @include led(#ffe747);
  }
  > .greenled {
    @include led(#4eae5e);
  }
}

.right {
  position: relative;
  flex: 1;
  height: 37px;
  > .shadow {
    color: #89051b;
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: 0px;
    border-bottom: 8px solid #89051b;
  }
}

.screen {
  height: 80%;
  padding: 1rem 1.5rem 1rem 1rem;
}
